<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <div id="container">
    <div id="header">
      <p><%= link_to "Morning Glory TOP", :root %></p>
    </div>
    <%= yield %>
    <div id="footer">
      <%= render "shared/footer" %>
    </div>
  </div>
</body>
</html>
