<h2>ログイン</h2>
<% if flash.alert %><p class="alert"><%= flash.alert %></p><% end %>
<%= form_tag :session do %>
<table id="login_form">
  <tr>
    <td style="text-align: right">ユーザー名：</td>
    <td><%= text_field_tag "name", "", style: "width: 120px" %></td>
  </tr>
  <tr>
    <td style="text-align: right">パスワード：</td>
    <td><%= password_field_tag "password", "", style: "width: 120px" %></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center">
    <%= submit_tag "ログイン" %></td>
  </tr>
</table>
<% end %>
